<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Legg til ny annonse</h1>
        <hr class="my-4">
        <p class="lead">
        <form class="form" id="myForm">
            <label for="listingTitle">Tittel</label>
            <input type="text" id="listingTitle" name="listingTitle" placeholder="Tittel">

            <label for="listingDesc">Beskrivelse</label>
            <input type="text" id="listingDesc" name="listingDesc" placeholder="Beskrivelse">

            <label for="listingPrice">Pris</label>
            <input type="number" id="listingPrice" name="listingPrice" placeholder="Pris" min="0" max="99999999">

            <!-- <label for="used">Tilstand</label>
             <select id="used" name="used">
                 <option value="used1">Ny</option>
                 <option value="used2">Brukt</option>
             </select>-->

            <input type="submit" value="Publiser">
        </form>

        <script>

            const myForm = document.getElementById('myForm');

            myForm.addEventListener('submit', function (e) {

                e.preventDefault();

                const formData = new FormData(myForm);

                const jsonObject = {};

                formData.forEach(function (value, key) {
                    jsonObject[key] = value;
                });


                fetch('/api/listings', {

                    method: 'POST',
                    body: jsonObject

                }).then(function (response) {
                    return response.text();

                }).then(function (text) {
                    console.log(text);
                }).catch(function (error) {
                    console.error(error);
                })
            })

        </script>
        </p>
    </div>
</div>
</body>
</html>